@charset "utf-8";
/* CSS Document */
/* HTML, BODY, Defaults */
html {
	position: relative;
	min-height: 100%;
	font-family: Raleway-Regular, Arial, sans-serif;
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("bootstrap/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("bootstrap/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("bootstrap/fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-light";
    src: url("bootstrap/fonts/Raleway-light.ttf") format("truetype");
}
body{
	position: relative;
	font-family: Raleway-Regular, Arial, sans-serif;
}
a{
	color:unset;
}
a:hover{
	text-decoration:none;
	color:unset;
}
.container-fluid{
	margin:0;
	padding:0;
}
.lvl-1{
	position:relative;
}
/* FONT-SIZE Correction */
@media(max-width:1000px){
html, body{
	font-size:90%;
}
}

@media(max-width:600px){
html, body{
	font-size:85%;
}
}
@media(max-width:400px){
html, body{
	font-size:80%;
}
p{
	font-size:110% !important;
}
}
@media(min-width:1001px){
html, body{
	font-size:100%;
}
}

/* NAVIGATION */
.nav-bg{
	background:#E6CAD4;
	border:0;
}
.navbar-header{
	padding-left:1%;
}
.nav-menu{
	color:black;
}
.nav > li > a {
	color:black;
	font-size:larger;
	font-family: "Raleway-Bold";
	padding:15px;
	transition: background 1s;
}
.nav > li > a:hover {
	background: rgb(220,220,220);
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-brand, .navbar-default{
	color:black !important;
}
.navbar{
	margin-bottom:0;
	min-height:0;
	border:0;
}
/* IMPACT */
.impact h2{
	font-size:300%;
}
.impact .lvl-2{
	position:absolute;
	bottom:30%;
	width:100%;
	text-align:center;
}
@media(max-width:400px){
	.impact .lvl-2{
		bottom:5%;
	}
}
@media(max-width:600px){
	.impact .lvl-2{
		bottom:15%;
	}
}
@media(min-width:1001px){
	.impact .lvl-2{
		bottom:30% ;
	}
}
.impact .lvl-3{
	margin:2%;
}
.impact > p{
	font-size:300%;
	font-family: "Raleway-light";
}
.impact-txt{
	color:white;
}
.impact-btn{
	display:inline;
	padding:0.5%;
	border:2px solid #E6CAD4;
	color:#E6CAD4;
	transition: background 1s;
}
.impact-btn:hover{
	border:2px solid white;
	color:white;
	background:rgba(230, 202, 212, 0.7);
}
/* INTRO */
.lvl-0 .intro{
	background: rgb(220,220,220);
}
.intro h2{
	text-align:center;
	font-family: "Raleway-light";
	font-size:280%;
	padding-top:5%;
}
div.intro-txt{
	text-align:left;
}
@media (min-width:800px){
	div.intro-txt{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;	
	}
}
@media (max-width:799px){
	div.intro-txt{
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;	
	}
}
img.intro-img{
	max-width:70%;
	display:inline;
}
.intro .lvl-2{
	text-align:center;
	padding-bottom:5%;
}
.intro-btn{
	font-size:280%;
	display:inline;
	padding:0.5%;
	border:2px solid rgb(92,94,95);
	color:rgb(92,94,95);
}
.intro-btn:hover{
	color:white;
	border:2px solid white;
}
/* DEVICES */
.lvl-0 .devices {
	background:rgb(240,240,240);
	text-align:center;
}
.devices > p {
	padding-top:20%;
	padding-bottom:20%;
	font-size:300%;
	font-weight:bold;
}
/* BENEFITS */
.lvl-0 .benefits{
	text-align:center;
}
.benefits .lvl-4{
	padding:2.5% 1%;
}
.benefits h2{
	font-family:"Raleway-light";
	font-size: 280%;
}
.benefits-btn{
	font-size:260%;
	display:inline;
	padding:0.5%;
	border:2px solid rgb(205,165,180);
	color:rgb(205,165,180);
	font-family:"Raleway-light";
	letter-spacing:1px;
	transition: background 1s;
}
.benefits-btn:hover{
	color:white;
	border:2px solid white;
	background: rgb(205,165,180)
}
/* ROBERT */
.lvl-0 > .robert{
	max-width:100%;
	overflow:hidden;
}
.robert .lvl-2{
	width:100%;
	position:absolute;
	top:40%;
	text-align:right;
	padding:1% 15%;
}
.robert h3{
	font-size: 270%;
	font-family:"Raleway-light";
	color: black;
	text-shadow: 1px 1px rgb(120,120,120);
}
.robert h4{
	font-size:220%;
	font-family:"Raleway-medium";
	color: black;
	text-shadow: 1px 1px rgb(120,120,120);
}
@media(max-width:1200px){
	.robert img{
		transform:translate(-425px);
	}
}
@media(max-width:1000px){
	.robert img{
		transform:translate(-480px) scale(0.9,0.9);
	}
}
.benefits.lvl-4 img:hover{
	-ms-animation:wiggle 1s 1;-moz-animation:wiggle 1s 1;-webkit-animation:wiggle 1s 1;animation:wiggle 1s 1;
	}
@-ms-keyframes wiggle{0%{-ms-transform:rotate(30deg);}25%{-ms-transform:rotate(-30deg);}50%{-ms-transform:rotate(30deg);}100%{-ms-transform:rotate(0deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(30deg);}25%{-moz-transform:rotate(-30deg);}50%{-moz-transform:rotate(30deg);}100%{-moz-transform:rotate(0deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(30deg);}25%{-webkit-transform:rotate(-30deg);}50%{-webkit-transform:rotate(30deg);}100%{-webkit-transform:rotate(0deg);}}
@keyframes wiggle{0%{transform:rotate(30deg);}25%{transform:rotate(-30deg);}50%{transform:rotate(30deg);}100%{transform:rotate(0deg);}}

/* FUNCTIONS */
.lvl-0 > .functions{
	background: rgb(240,240,240);
	text-align:center;
	padding-top:1%;
}
.functions h2{
	font-family:"Raleway-light";
	font-size: 280%;
}
.functions .lvl-4{
	padding:2.5% 0%;
	transition: background 0.2s;
}
.functions .img-wrapper{
	display:inline-block;
	width:50%;
}
@media(max-width:800px){
	.functions .content-wrapper{
		display:none;
	}
}
.functions.detailed{
	width:100%;
	padding:5%;
	background:#E6CAD4;
}
.functions.detailed h3{
	font-size:x-large !important;
	font-weight:bold;
}
.functions img{
	max-height:100%;
}
.functions h3{
	font-family:"Raleway-Medium";
	font-size: 140%;
}
.functions-btn{
	font-size:260%;
	display:inline;
	padding:0.5%;
	border:2px solid rgb(92,94,95);
	color:rgb(92,94,95);
	font-family:"Raleway-light";
	letter-spacing:1px;
	transition: background 1s;
}
.functions-btn:hover{
	color:white;
	border:2px solid white;
	background: rgb(92,94,95)
}
/* TEAM */
.lvl-0 > .team{
  background: lightgrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, white, darkgrey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, darkgrey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, darkgrey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, white, darkgrey, white); /* Standard syntax */
  text-align:center;
}
.team .lvl-2{
	position:absolute;
	bottom:30%;
	width:100%;
	text-align:center;
}
.team img{
	display:inline;
}
.team .lvl-3{
	margin:2%;
}
.team > p{
	font-size:300%;
	font-family: "Raleway-light";
}
.team-btn{
	display:inline;
	padding:0.5%;
	border:2px solid #E6CAD4;
	color:#E6CAD4;
	transition: background 1s;
}
.team-btn:hover{
	border:2px solid white;
	color:white;
	background:rgba(230, 202, 212, 0.7);
}
/* HELP */
.lvl-0 > .help{
	background:white;
}
.help h2{
	font-family:"Raleway-light";
	font-size: 280%;
}
.help .lvl-4{
	text-align:center;
	padding:5%;
}
.help .lvl-5{
	background: rgb(220,220,220);
	padding:5%;
	transition: all 1s;
}
.help.lvl-5:hover{
	color:white;
	background: rgb(120,120,120);
	transform: scale(1.1);
}
.help img{
	max-width:25%;
	display:inline;
	margin:5% 0%;
}
/* FOOTER */
.footer.lvl-0{
	background: rgb(92,94,95);
}
.footer .map-link{
	color:white;
	font-size:110%;
	font-family: "Raleway-Medium";
}
.footer .map-link a{
	padding:0% 2%;
}
.footer .map-link a:hover{
	color:#E6CAD4;
}
.footer .sm-icon{
	text-align:right;
}
.footer .sm-icon img{
	display:inline;
	max-width:10%;
	transition: filter 2s linear;
}
.footer .sm-icon img:hover{
	filter: invert(100%);
}
.footer.logo{
	text-align:center;
}
.footer.logo > img{
	max-width:40%;
	display:inline;
}
.footer.copyright{
	text-align:center;
	font-size:80%;
	color:white;
}