@charset "utf-8";
/* CSS Document */
/* HTML, BODY, Defaults */
html {
	position: relative;
	min-height: 100%;
	font-family: Raleway-Regular, Arial, sans-serif;
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("/bootstrap/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("/bootstrap/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("/bootstrap/fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-light";
    src: url("/bootstrap/fonts/Raleway-Light.ttf") format("truetype");
}
body{
	min-height:100%;
	position: relative;
	font-family: Raleway-Regular, Arial, sans-serif;
}
a{
	color:unset;
}
a:hover, a:focus{
	text-decoration:none;
	color:unset;
}
.container-fluid{
	margin:0;
	padding:0;
}
.lvl-0.footer{
	padding-top:unset !important;
}
.lvl-1{
	position:relative;
}
.lvl-1.intro, .lvl-1.family, .lvl-1.devices, .lvl-1.benefits, .lvl-1.functions, .lvl-1.partner, .lvl-1.s-k, .lvl-1.s-f, .lvl-1.s-i{
	padding-top:2.5%;
	padding-bottom:3.5%;
}
/* FONT-SIZE Correction */
@media(max-width:1000px){
html, body{
	font-size:90%;
}
}


@media(max-width:400px){
html, body{
	font-size:80%;
}
p{
	font-size:120%;
}
}
@media(min-width:1001px){
html, body{
	font-size:100%;
}
}

/* NAVIGATION */
@media(max-width:765px){
	.nav-bg{
		background:rgba(230,202,212,0.9);
	}
	.nav > li > a {
		font-size:x-large;
	}
}
@media(min-width:765px){
	.nav-bg{
		background:rgba(230,202,212,1);
	}
	.nav > li > a {
		font-size:larger;
	}
}
.nav-bg{
	border:0;
}
.navbar-header{
	padding-left:1%;
}
.nav-menu{
	color:black;
}
.nav > li > a {
	color:black;
	font-family: "Raleway-Medium";
	padding:15px;
	transition: background 1s;
}
.nav > li > a:hover {
	background: rgb(220,220,220);
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-brand, .navbar-default{
	color:black !important;
	background:none;
}
.navbar{
	margin-bottom:0;
	min-height:0;
	border:0;
}
img.lang{
	display:inline;
	max-width:25px;
}
ul.lang{
	border:none;
	border-radius:0px;
	box-shadow:none;
	background-color:rgba(230,202,212,0.7);
	min-width:100%;
	text-align:center;
}
.navbar-collapse{
	max-height: none !important;
}
.navbar-collapse.in{
	overflow-y: unset !important;
}
/* IMPACT */
section.impact{
	background:rgb(240,240,240);
}
.impact h2{
	font-size:300%;
}
.impact .lvl-2{
	position:absolute;
	bottom:0%;
	width:100%;
	text-align:center;
}
@media(max-width:360px){
	.impact .lvl-2{
		bottom:2.5%;
	}
}
@media(max-width:1000px){
	.impact .lvl-2{
		bottom:45%;
	}
}
@media(max-width:1280px){
	.impact .lvl-2{
		bottom:50%;
	}
	h2.impact-txt{
		font-size:200% !important;
	}
}
@media(min-width:1280px){
	.impact .lvl-2{
		bottom:50% ;
	}
}
@media(max-width:768px){
	.lvl-2.impact-txt{
		top:5% !important;
		text-align:center !important;
	}
	.impact .lvl-2{
		bottom:2.5%;
	}
}
.impact .lvl-3{
	margin:2%;
}
.impact > p{
	font-size:300%;
	font-family: "Raleway-light";
}
.impact-txt{
	color:black;
}
.impact-btn{
	display:inline-block;
	padding:0.5%;
	line-height:1;
	border:2px solid black;
	color:black;
	transition: background 1s;
	text-align:center;
}
.impact-btn:hover{
	border:2px solid white;
	color:#E6CAD4;
	background:rgba(256, 256, 256, 0.7);
}
.impact-btn p{
	display: inline;
	font-size:300%;
	font-family: "Raleway-light";
}
@media(max-width:400px){
	.impact-btn{
		padding: 1.5% 5%;
	}
}
span.version{
	font-size:50%;
}
.lvl-2.impact-txt{
	bottom:40%;
	text-align:right;
	color:black;
}
/* INTRO */
.lvl-0 .intro{
	background: rgb(220,220,220);
}
.intro h2{
	text-align:center;
	font-family: "Raleway-light";
	font-size:280%;
}
div.intro-txt{
	text-align:center;
	font-size:150%;
	margin-bottom:5%;
}
img.intro-img{
	max-width:70%;
	display:inline;
}
.intro .lvl-2{
	text-align:center;
}
.intro-btn{
	font-size:280%;
	display:inline-block;
	padding:0.5%;
	line-height:1;
	border:2px solid rgb(92,94,95);
	color:rgb(92,94,95);
	transition: background 1s;
}
.intro-btn:hover{
	color:white;
	border:2px solid white;
	background:rgb(92,94,95);
}
@media(max-width:400px){
	.intro-btn{
		padding: 1.5% 5%;
	}
}
.intro.lvl-4 img{
	display:inline;
	text-align:center;
	width:100%;
	height:100%;
}
.intro .img-wrapper{
	display:flex;
}
/* STEPS */
.steps p{
	font-size:larger;
}
.steps.lvl-4{
	padding-bottom:5%;
}
@media(max-width:760px){
	div.step1{
		height:unset !important;
	}
}
/* FAMILY */
.family.lvl-1{
	background:rgb(240,240,240);
	text-align:center;
}
.family p{
	font-size:larger;
}
@media(min-width:1000px){
	.family .lvl-2{
		position:relative;
	}
	.family .lvl-3{
		width:50%;
		position:absolute;
		top:10%;
		right:20%;
		text-align:right;
	}
	.family img{
		display:block;
		min-width:50%;
	}
}
@media(max-width:1000px){
	.family .lvl-2{
		position:relative;
	}
	.family .lvl-3{
		position:relative;
		text-align:center;
	}
	.family img{
		display:inline;
		min-width:100%;
		margin-bottom:5%;
	}
}

/* DEVICES */
.lvl-0 .devices {
	background:rgb(240,240,240);
	text-align:center;
}
.devices > p {
	padding-top:20%;
	padding-bottom:20%;
	font-size:300%;
	font-weight:bold;
}
/* BENEFITS */
.lvl-0 .benefits{
	text-align:center;
}
.benefits .lvl-4{
	padding:2.5% 1%;
}
.benefits img{
	display:inline;
}
.benefits h2{
	font-family:"Raleway-light";
	font-size: 280%;
}
.benefits p{
	font-size:larger;
}
.benefits-btn{
	font-size:260%;
	display:inline;
	padding:0.5%;
	border:2px solid rgb(205,165,180);
	color:rgb(205,165,180);
	font-family:"Raleway-light";
	letter-spacing:1px;
	transition: background 1s;
}
.benefits-btn:hover{
	color:white;
	border:2px solid white;
	background: rgb(205,165,180)
}
.benefits.lvl-4 img:hover{
	-ms-animation:wiggle 1s 1;-moz-animation:wiggle 1s 1;-webkit-animation:wiggle 1s 1;animation:wiggle 1s 1;
	}
@-ms-keyframes wiggle{0%{-ms-transform:rotate(30deg);}25%{-ms-transform:rotate(-30deg);}50%{-ms-transform:rotate(30deg);}100%{-ms-transform:rotate(0deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(30deg);}25%{-moz-transform:rotate(-30deg);}50%{-moz-transform:rotate(30deg);}100%{-moz-transform:rotate(0deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(30deg);}25%{-webkit-transform:rotate(-30deg);}50%{-webkit-transform:rotate(30deg);}100%{-webkit-transform:rotate(0deg);}}
@keyframes wiggle{0%{transform:rotate(30deg);}25%{transform:rotate(-30deg);}50%{transform:rotate(30deg);}100%{transform:rotate(0deg);}}

/* ROBERT */
.lvl-0 > .robert{
	max-width:100%;
	overflow:hidden;
}
.robert .lvl-2{
	width:100%;
	position:absolute;
	top:40%;
	text-align:right;
	padding:1% 15%;
}
.robert h3{
	font-size: 300%;
	font-family:"Raleway-light";
	color: black;
}

@media(max-width:1200px){
	.robert img{
		transform:translate(-425px);
	}
}
@media(max-width:1000px){
	.robert img{
		transform:translate(-480px);
	}
	.robert-quote > br{
		display:none;
	}
	.robert .lvl-2{
	width:100%;
	position:absolute;
	top: unset !important;
	bottom:0%;
	text-align:center;
	background:rgba(255,255,255,0.5);
	padding:0% !important;
	}
}
/* FUNCTIONS */
.lvl-0 > .functions{
	background: rgb(220,220,220);
	text-align:center;
}
.functions h2{
	font-family:"Raleway-light";
	font-size: 280%;
	margin-bottom:5%;
}
.functions .lvl-4{
	transition: background 0.2s;
}
.functions .img-wrapper{
	display:inline-block;
	width:30%;
}
/* for function toogle
@media(max-width:800px){
	.functions .content-wrapper{
		display:none;
	}
}
*/
.functions.detailed{
	width:100%;
	padding:5%;
	background:#E6CAD4;
}
.functions.detailed h3{
	font-size:x-large !important;
	font-weight:bold;
}
.functions img{
	max-height:100%;
}
.functions h3{
	font-family:"Raleway-Medium";
	font-size: 140%;
}
.functions-btn{
	font-size:260%;
	display:inline;
	padding:0.5%;
	border:2px solid rgb(92,94,95);
	color:rgb(92,94,95);
	font-family:"Raleway-light";
	letter-spacing:1px;
	transition: background 1s;
}
.functions-btn:hover{
	color:white;
	border:2px solid white;
	background: rgb(92,94,95)
}
/* TEAM */
.lvl-0 > .team{
  background:rgb(240,240,240);
  text-align:center;
}
.team .lvl-2{
	position:absolute;
	bottom:20%;
	width:100%;
	text-align:center;
}
.team img{
	display:inline;
}
.team .lvl-3{
	margin:2%;
}
.team > p{
	font-size:300%;
	font-family: "Raleway-light";
}
.team-btn{
	display:inline;
	padding:0.75%;
	border:2px solid #E6CAD4;
	color:#E6CAD4;
	transition: background 1s;
}
.team-btn:hover{
	border:2px solid white;
	color:white;
	background:rgba(230, 202, 212, 0.7);
}
/* HELP */
.lvl-0 > .help{
	background:white;
}
.help h2{
	font-family:"Raleway-light";
	font-size: 280%;
}
.help .lvl-4{
	text-align:center;
	padding:2.5%;
}
.help .lvl-5{
	background: rgb(220,220,220);
	padding:5%;
	transition: all 1s;
}
.help.lvl-5:hover{
	color:white;
	background: rgb(120,120,120);
	transform: scale(1.1);
}
.help img{
	max-width:25%;
	display:inline;
	margin:5% 0%;
}
/* PARTNER */
.lvl-0 > .partner{
	background:rgb(240,240,240);
	text-align:center;
}
.partner img{
	display:inline;
}
/* FOOTER */
.footer.lvl-0{
	background: rgb(92,94,95);
}
.footer .map-link{
	color:white;
	font-size:110%;
	font-family: "Raleway-Medium";
}
.footer .map-link a{
	padding:0% 2%;
}
.footer .map-link a:hover{
	color:#E6CAD4;
}
.footer .sm-icon{
	text-align:right;
}
.footer .sm-icon img{
	display:inline;
	max-width:10%;
	transition: filter 2s linear;
}
.footer .sm-icon img:hover{
	filter: invert(100%);
}
.footer.logo{
	text-align:center;
}
.footer.logo > img{
	max-width:40%;
	display:inline;
}
.footer.copyright{
	text-align:center;
	font-size:80%;
	color:white;
}
.footer.row{
	padding-top:1.5%;
}

/* SUBPAGES------------------------------------------------------------------------------------SUBPAGES------------------------------------------------------------------------------------SUBPAGES */

/*TEAM (T) */
.s-t.lvl-0{
	background: rgb(220,220,220);
	text-align:center;
	margin-top:49px;
}
.s-t.lvl-1 img{
	display:inline;
}
.s-t h2{
	font-family: "Raleway-light";
	font-size:280%;
}
.s-t h3{
	font-family: "Raleway-light";
	font-size:200%;
}
.s-t .lvl-3{
	padding:2.5% 1%;
}
.s-t .img-portrait{
	border-radius:50%;
	overflow:hidden;
	min-width:100%;
}
.s-t h4.name{
	font-family: "Raleway-Medium";
	font-weight:bold;
	text-transform: uppercase;
}
.s-t h4.job{
	font-family: "Raleway-Medium";
	font-style:italic;
}

/* F.A.Q (F) */
.s-f.lvl-0{
	background: rgb(220,220,220);
	text-align:center;
	margin-top:49px;
}
.s-f img{
	display:inline;
}
.s-f .lvl-2{
	text-align:justify;
	margin:2.5% 0%;
}
.s-f h3{
	text-align:left;
}
.s-f a{
	font-weight:bold;
}
.s-f.category{
	font-weight:bolder;
	letter-spacing:0.1em;
	padding:1%;
	background:rgb(230,202,212);
	margin:0;
}
.s-f.panel-group{
	border:solid 4px rgb(230,202,212);
}
.s-f.panel-head{
	margin:0;
}
/* IMPRESSUM (I) */
.s-i.lvl-0{
	background: rgb(220,220,220);
	text-align:center;
	margin-top:49px;
}
.s-i.lvl-1{
	text-align: justify;
}
.s-i h1{
	text-align:center;
}
.s-i h4{
	font-weight:bold;
	font-size:150%;
}
/* KONTAKT (K) */
.s-k.lvl-0{
	margin-top:49px;
}
.s-k input.url{
	display:none;
}
.s-k form{
	padding:2.5% 0%;
}
